@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

.fadein {
  -webkit-animation: fadein 0.3s linear forwards;
  animation: fadein 0.3s linear forwards;
}

.fadeout {
  -webkit-animation: fadeout 0.3s linear forwards;
  animation: fadeout 0.3s linear forwards;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    transform: translate(200%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate(200%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.flash {
  animation: flash 0.7s linear infinite;
}

@keyframes flash {
  50% {
    opacity: 0;
  }
}
